
1_QdC/.DS_Store
4_Diari/.DS_Store
3_Documentazione (word e pdf)/.DS_Store
5_Sito o applicativo/.DS_Store
5_Sito o applicativo/PianificazionePresentazioniProgetti/.htaccess
5_Sito o applicativo/PianificazionePresentazioniProgetti/application/views/.DS_Store
9_Presentazione/.DS_Store
9_Presentazione/Bin/.DS_Store
7_Allegati/3_Progettazione/4_Use Case/.DS_Store
8_Manuali/.DS_Store
7_Allegati/3_Progettazione/3_Schema DB/.DS_Store
7_Allegati/3_Progettazione/2_Design interfacce/.DS_Store
7_Allegati/3_Progettazione/.DS_Store
7_Allegati/1_Gantt Preventivo/.DS_Store
7_Allegati/.DS_Store
6_Database/.DS_Store
5_Sito o applicativo/PianificazionePresentazioniProgetti/.DS_Store
5_Sito o applicativo/PianificazionePresentazioniProgetti/application/.DS_Store
.DS_Store
